In [9]:
import pandas as pd
import os

In [10]:
# Check if all items in data folder have corresponding files in out folder
data_folder = './data'
out_folder = './out'
items = os.listdir(data_folder)
missing_items = []
for item in items:
    # Skip folders and .ipynb_checkpoints
    if os.path.isdir(os.path.join(data_folder, item)) or '.ipynb_checkpoints' in item:
        continue
        
    out_file = os.path.join(out_folder, item)
    if not os.path.exists(out_file):
        missing_items.append(item)

if missing_items:
    print(f"Found {len(missing_items)} missing items:")
    for item in missing_items:
        print(f"- {item}")
else:
    print("No missing items found.")

No missing items found.

In [11]:
# Try to load and compare files
for item in items:
    data_file = os.path.join(data_folder, item)
    out_file = os.path.join(out_folder, item)
    
    print(f"\nComparing {item}:")
    
    # Determine file type and load accordingly
    if item.endswith('.parquet'):
        try:
            data_df = pd.read_parquet(data_file)
            out_df = pd.read_parquet(out_file)
            print("\nData file first 2 rows:")
            print(data_df.head(2))
            print("\nOutput file first 2 rows:")
            print(out_df.head(2))
        except Exception as e:
            print(f"Error loading parquet files: {e}")
            
    elif item.endswith('.json'):
        try:
            data_df = pd.read_json(data_file)
            out_df = pd.read_json(out_file)
            print("\nData file first 2 rows:")
            print(data_df.head(2))
            print("\nOutput file first 2 rows:")
            print(out_df.head(2))
        except Exception as e:
            print(f"Error loading json files: {e}")
            
    else:
        print(f"Unsupported file type for {item}")

Comparing journal_chunk_6.parquet:

Data file first 2 rows:
  company_code posting_date fiscal_year fiscal_period account_number  \
0          IND   2024-08-09        2024           P08          63002
1          USA   2024-02-27        2024           P02          65003

  company_currency company_amount global_currency global_amount  \
0              INR       83130.61             USD        996.77
1              USD         910.51             USD        910.51

  department_number  ... customer_number product_number channel_number  \
0             DP006  ...         CS08458        P060076        CH00004
1             DP007  ...         CS08114        P060076        CH00004

  division_number       transaction_id transaction_type  \
0         DV00004  7317919603814998042            TT002
1         DV00003  7317919603814998043            TT005

  transaction_document_number transaction_document_item  \
0                  240809-655                       020
1                  240227-547                       289

  transaction_description reference_procedure
0                                       RP004
1                                       RP002

[2 rows x 27 columns]

Output file first 2 rows:
  company_code posting_date fiscal_year fiscal_period account_number  \
0          IND   2024-08-09        2024           P08          63002
1          USA   2024-02-27        2024           P02          65003

  company_currency company_amount global_currency global_amount  \
0              INR       83130.61             USD        996.77
1              USD         910.51             USD        910.51

  department_number  ... customer_number product_number channel_number  \
0             DP006  ...         CS08458        P060076        CH00004
1             DP007  ...         CS08114        P060076        CH00004

  division_number       transaction_id transaction_type  \
0         DV00004  7317919603814998042            TT002
1         DV00003  7317919603814998043            TT005

  transaction_document_number transaction_document_item  \
0                  240809-655                       020
1                  240227-547                       289

  transaction_description reference_procedure
0                                       RP004
1                                       RP002

[2 rows x 27 columns]

Comparing cost_center.parquet:

Data file first 2 rows:
  cost_center_number       cost_center_name
0             CC1001  Manufacturing Plant A
1             CC1002  Manufacturing Plant B

Output file first 2 rows:
  cost_center_number cost_center_name
0             CC1001            製造工場A
1             CC1002          製造プラントB

Comparing material_group.parquet:

Data file first 2 rows:
  material_group_number material_group_name
0                MG0010            Plastics
1                MG0006               Glass

Output file first 2 rows:
  material_group_number material_group_name
0                MG0010              プラスチック
1                MG0006                 ガラス

Comparing material.parquet:

Data file first 2 rows:
  material_number  material_name material_group_number
0         M090001   Polyethylene                MG0010
1         M090002  Polypropylene                MG0010

Output file first 2 rows:
  material_number material_name material_group_number
0         M090001        ポリエチレン                MG0010
1         M090002       ポリプロピレン                MG0010

Comparing journal_chunk_7.parquet:

Data file first 2 rows:
  company_code posting_date fiscal_year fiscal_period account_number  \
0          AUS   2023-11-30        2023           P11          51001
1          GBR   2023-11-16        2023           P11          40002

  company_currency company_amount global_currency global_amount  \
0              AUD       37694.96             USD      24963.55
1              GBP       13581.38             USD      17412.03

  department_number  ... customer_number product_number channel_number  \
0             DP011  ...         CS08055        P060023        CH00002
1             DP012  ...         CS08214        P060082        CH00005

  division_number       transaction_id transaction_type  \
0         DV00004  7317919610655907840            TT004
1         DV00005  7317919610655907841            TT003

  transaction_document_number transaction_document_item  \
0                  231130-116                       080
1                  231116-180                       287

  transaction_description reference_procedure
0                                       RP004
1                                       RP006

[2 rows x 27 columns]

Output file first 2 rows:
  company_code posting_date fiscal_year fiscal_period account_number  \
0          AUS   2023-11-30        2023           P11          51001
1          GBR   2023-11-16        2023           P11          40002

  company_currency company_amount global_currency global_amount  \
0              AUD       37694.96             USD      24963.55
1              GBP       13581.38             USD      17412.03

  department_number  ... customer_number product_number channel_number  \
0             DP011  ...         CS08055        P060023        CH00002
1             DP012  ...         CS08214        P060082        CH00005

  division_number       transaction_id transaction_type  \
0         DV00004  7317919610655907840            TT004
1         DV00005  7317919610655907841            TT003

  transaction_document_number transaction_document_item  \
0                  231130-116                       080
1                  231116-180                       287

  transaction_description reference_procedure
0                                       RP004
1                                       RP006

[2 rows x 27 columns]

Comparing images:
Unsupported file type for images

Comparing supplier.parquet:

Data file first 2 rows:
  supplier_number             supplier_name
0         SP03001  Acme Packaging Solutions
1         SP03002        GreenLeaf Naturals

Output file first 2 rows:
  supplier_number       supplier_name
0         SP03001  アクメパッケージングソリューションズ
1         SP03002       グリーンリーフナチュラルズ

Comparing journal_chunk_15.parquet:

Data file first 2 rows:
  company_code posting_date fiscal_year fiscal_period account_number  \
0          CHN   2023-04-15        2023           P04          62002
1          IND   2022-05-31        2022           P05          50001

  company_currency company_amount global_currency global_amount  \
0              CNY       14483.32             USD       2006.00
1              INR     1470909.12             USD      17636.80

  department_number  ... customer_number product_number channel_number  \
0             DP014  ...         CS08340        P060080        CH00002
1             DP012  ...         CS08480        P060045        CH00005

  division_number       transaction_id transaction_type  \
0         DV00006  7317919641442099204            TT005
1         DV00002  7317919641442099205            TT003

  transaction_document_number transaction_document_item  \
0                  230415-297                       005
1                  220531-563                       248

  transaction_description reference_procedure
0                                       RP009
1                                       RP007

[2 rows x 27 columns]

Output file first 2 rows:
  company_code posting_date fiscal_year fiscal_period account_number  \
0          CHN   2023-04-15        2023           P04          62002
1          IND   2022-05-31        2022           P05          50001

  company_currency company_amount global_currency global_amount  \
0              CNY       14483.32             USD       2006.00
1              INR     1470909.12             USD      17636.80

  department_number  ... customer_number product_number channel_number  \
0             DP014  ...         CS08340        P060080        CH00002
1             DP012  ...         CS08480        P060045        CH00005

  division_number       transaction_id transaction_type  \
0         DV00006  7317919641442099204            TT005
1         DV00002  7317919641442099205            TT003

  transaction_document_number transaction_document_item  \
0                  230415-297                       005
1                  220531-563                       248

  transaction_description reference_procedure
0                                       RP009
1                                       RP007

[2 rows x 27 columns]

Comparing profit_center.parquet:

Data file first 2 rows:
  profit_center_number profit_center_name
0               PC0001  Beverage Division
1               PC0002    Snacks Division

Output file first 2 rows:
  profit_center_number profit_center_name
0               PC0001               飲料部門
1               PC0002             スナック部門

Comparing journal_chunk_5.parquet:

Data file first 2 rows:
  company_code posting_date fiscal_year fiscal_period account_number  \
0          AUS   2021-12-09        2021           P12          64005
1          FRA   2024-10-17        2024           P10          63002

  company_currency company_amount global_currency global_amount  \
0              AUD         139.10             USD         92.12
1              EUR         398.33             USD        432.97

  department_number  ... customer_number product_number channel_number  \
0             DP015  ...         CS08002        P060047        CH00001
1             DP015  ...         CS08111        P060100        CH00001

  division_number       transaction_id transaction_type  \
0         DV00003  7317919597750034433            TT002
1         DV00004  7317919597750034434            TT003

  transaction_document_number transaction_document_item  \
0                  211209-727                       127
1                  241017-123                       208

  transaction_description reference_procedure
0                                       RP003
1                                       RP001

[2 rows x 27 columns]

Output file first 2 rows:
  company_code posting_date fiscal_year fiscal_period account_number  \
0          AUS   2021-12-09        2021           P12          64005
1          FRA   2024-10-17        2024           P10          63002

  company_currency company_amount global_currency global_amount  \
0              AUD         139.10             USD         92.12
1              EUR         398.33             USD        432.97

  department_number  ... customer_number product_number channel_number  \
0             DP015  ...         CS08002        P060047        CH00001
1             DP015  ...         CS08111        P060100        CH00001

  division_number       transaction_id transaction_type  \
0         DV00003  7317919597750034433            TT002
1         DV00004  7317919597750034434            TT003

  transaction_document_number transaction_document_item  \
0                  211209-727                       127
1                  241017-123                       208

  transaction_description reference_procedure
0                                       RP003
1                                       RP001

[2 rows x 27 columns]

Comparing journal_chunk_4.parquet:

Data file first 2 rows:
  company_code posting_date fiscal_year fiscal_period account_number  \
0          USA   2022-05-12        2022           P05          75003
1          FRA   2024-04-05        2024           P04          60002

  company_currency company_amount global_currency global_amount  \
0              USD        5510.06             USD       5510.06
1              EUR         337.41             USD        366.75

  department_number  ... customer_number product_number channel_number  \
0             DP014  ...         CS08313        P060014        CH00002
1             DP012  ...         CS08094        P060085        CH00002

  division_number       transaction_id transaction_type  \
0         DV00004  7317919591504715776            TT002
1         DV00002  7317919591504715777            TT004

  transaction_document_number transaction_document_item  \
0                  220512-735                       232
1                  240405-715                       280

  transaction_description reference_procedure
0                                       RP006
1                                       RP005

[2 rows x 27 columns]

Output file first 2 rows:
  company_code posting_date fiscal_year fiscal_period account_number  \
0          USA   2022-05-12        2022           P05          75003
1          FRA   2024-04-05        2024           P04          60002

  company_currency company_amount global_currency global_amount  \
0              USD        5510.06             USD       5510.06
1              EUR         337.41             USD        366.75

  department_number  ... customer_number product_number channel_number  \
0             DP014  ...         CS08313        P060014        CH00002
1             DP012  ...         CS08094        P060085        CH00002

  division_number       transaction_id transaction_type  \
0         DV00004  7317919591504715776            TT002
1         DV00002  7317919591504715777            TT004

  transaction_document_number transaction_document_item  \
0                  220512-735                       232
1                  240405-715                       280

  transaction_description reference_procedure
0                                       RP006
1                                       RP005

[2 rows x 27 columns]

Comparing division.parquet:

Data file first 2 rows:
  division_number division_name
0         DV00001     Marketing
1         DV00002         Sales

Output file first 2 rows:
  division_number division_name
0         DV00001       マーケティング
1         DV00002            販売

Comparing channel.parquet:

Data file first 2 rows:
  channel_number              channel_name
0        CH00001  Direct-to-Consumer (DTC)
1        CH00002   Brick-and-Mortar Retail

Output file first 2 rows:
  channel_number   channel_name
0        CH00001  直接消費者向け (DTC)
1        CH00002         従来型小売店

Comparing journal_chunk_14.parquet:

Data file first 2 rows:
  company_code posting_date fiscal_year fiscal_period account_number  \
0          IND   2023-01-24        2023           P01          64001
1          USA   2022-12-06        2022           P12          75004

  company_currency company_amount global_currency global_amount  \
0              INR       86209.74             USD       1033.69
1              USD        1481.65             USD       1481.65

  department_number  ... customer_number product_number channel_number  \
0             DP013  ...         CS08196        P060033        CH00002
1             DP003  ...         CS08189        P060065        CH00004

  division_number       transaction_id transaction_type  \
0         DV00006  7317919634882207747            TT004
1         DV00002  7317919634882207748            TT004

  transaction_document_number transaction_document_item  \
0                  230124-392                       170
1                  221206-177                       070

  transaction_description reference_procedure
0                                       RP001
1                                       RP001

[2 rows x 27 columns]

Output file first 2 rows:
  company_code posting_date fiscal_year fiscal_period account_number  \
0          IND   2023-01-24        2023           P01          64001
1          USA   2022-12-06        2022           P12          75004

  company_currency company_amount global_currency global_amount  \
0              INR       86209.74             USD       1033.69
1              USD        1481.65             USD       1481.65

  department_number  ... customer_number product_number channel_number  \
0             DP013  ...         CS08196        P060033        CH00002
1             DP003  ...         CS08189        P060065        CH00004

  division_number       transaction_id transaction_type  \
0         DV00006  7317919634882207747            TT004
1         DV00002  7317919634882207748            TT004

  transaction_document_number transaction_document_item  \
0                  230124-392                       170
1                  221206-177                       070

  transaction_description reference_procedure
0                                       RP001
1                                       RP001

[2 rows x 27 columns]

Comparing fiscal_period.parquet:

Data file first 2 rows:
  fiscal_year fiscal_period fiscal_month fiscal_quarter
0        2018           P01          M01             Q1
1        2018           P02          M02             Q1

Output file first 2 rows:
  fiscal_year fiscal_period fiscal_month fiscal_quarter
0        2018           P01          M01             Q1
1        2018           P02          M02             Q1

Comparing config.parquet:

Data file first 2 rows:
             config_key config_value
0  latest_closed_period     2025-P02

Output file first 2 rows:
             config_key config_value
0  latest_closed_period     2025-P02

Comparing journal_chunk_8.parquet:

Data file first 2 rows:
  company_code posting_date fiscal_year fiscal_period account_number  \
0          USA   2023-09-15        2023           P09          64005
1          JPN   2021-01-22        2021           P01          75001

  company_currency company_amount global_currency global_amount  \
0              USD         534.34             USD        534.34
1              JPY     1825810.06             USD      11854.37

  department_number  ... customer_number product_number channel_number  \
0             DP001  ...         CS08368        P060076        CH00003
1             DP014  ...         CS08472        P060021        CH00001

  division_number       transaction_id transaction_type  \
0         DV00002  7317919615777153039            TT005
1         DV00001  7317919615777153040            TT001

  transaction_document_number transaction_document_item  \
0                  230915-053                       005
1                  210122-542                       220

  transaction_description reference_procedure
0                                       RP010
1                                       RP006

[2 rows x 27 columns]

Output file first 2 rows:
  company_code posting_date fiscal_year fiscal_period account_number  \
0          USA   2023-09-15        2023           P09          64005
1          JPN   2021-01-22        2021           P01          75001

  company_currency company_amount global_currency global_amount  \
0              USD         534.34             USD        534.34
1              JPY     1825810.06             USD      11854.37

  department_number  ... customer_number product_number channel_number  \
0             DP001  ...         CS08368        P060076        CH00003
1             DP014  ...         CS08472        P060021        CH00001

  division_number       transaction_id transaction_type  \
0         DV00002  7317919615777153039            TT005
1         DV00001  7317919615777153040            TT001

  transaction_document_number transaction_document_item  \
0                  230915-053                       005
1                  210122-542                       220

  transaction_description reference_procedure
0                                       RP010
1                                       RP006

[2 rows x 27 columns]

Comparing journal_chunk_11.parquet:

Data file first 2 rows:
  company_code posting_date fiscal_year fiscal_period account_number  \
0          FRA   2021-06-12        2021           P06          51004
1          JPN   2021-03-31        2021           P03          50002

  company_currency company_amount global_currency global_amount  \
0              EUR         137.28             USD        149.22
1              JPY      360141.88             USD       2338.28

  department_number  ... customer_number product_number channel_number  \